$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = '192.168.56.20';
$DB['PORT']     = '0';
$DB['DATABASE'] = 'zabbix';
$DB['USER']     = 'zabbix';
$DB['PASSWORD'] = 'zabbix01';
...
$ZBX_SERVER      = '192.168.56.21';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = 'ZABBIX-HA';